<app-header></app-header>
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Personaaltreeneri haldusrakendus</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/sign-in/"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="container-xl">
        <div *ngIf="error">
          <p>
            Harjutuse salvestamisel tekkis viga, kontrolli sisestatud andmeid.
          </p>
        </div>
        <div class="row">
          <div class="col-6">
            <form [formGroup]="exercisesForm" (ngSubmit)="onSubmit()">
              <div class="form-group">
                <h3 class="h3 mb-3 fw-normal">Lisa uus harjutus</h3>
                <br />
                <label for="name" class="visually-hidden">Harjutuse nimi</label>
                <input
                  type="text"
                  formControlName="name"
                  class="form-control"
                  placeholder="Sisesta harjutuse nimi"
                  [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
                />
                <div
                  *ngIf="submitted && f.name.errors"
                  class="invalid-feedback"
                >
                  <div *ngIf="f.name.errors.required">
                    Nimi on kohustuslik väli
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="desc" class="visually-hidden"
                  >Harjutuse kirjeldus</label
                >
                <input
                  type="text"
                  formControlName="desc"
                  class="form-control"
                  placeholder="Sisesta harjutuse kirjeldus"
                />
              </div>
              <div class="form-group">
                <label for="defaultSeries" class="visually-hidden"
                  >Seeriate arv</label
                >
                <input
                  type="number"
                  formControlName="defaultSeries"
                  class="form-control"
                  placeholder="Sisesta seeriate arv"
                />
              </div>
              <div class="form-group">
                <label for="defaultReps" class="visually-hidden"
                  >Harjutuse nimi</label
                >
                <input
                  type="number"
                  formControlName="defaultReps"
                  class="form-control"
                  placeholder="Sisesta korduste arv"
                />
              </div>
              <div class="form-group">
                <label for="defaultRepsType" class="visually-hidden"
                  >Korduste liik</label
                >
                <input
                  type="text"
                  formControlName="defaultRepsType"
                  class="form-control"
                  placeholder="Sisesta korduste liik (nt. kordust, minutit, meetrit jne)"
                />
              </div>
              <div class="form-group">
                <label for="defaultEquip" class="visually-hidden"
                  >Treeningvahend</label
                >
                <input
                  type="text"
                  formControlName="defaultEquip"
                  class="form-control"
                  placeholder="Sisesta treeningvahend (nt. hantel, kang)"
                />
              </div>
              <div class="form-group">
                <label for="defaultWeight" class="visually-hidden"
                  >Treeningvahendi raskus</label
                >
                <input
                  type="text"
                  formControlName="defaultWeight"
                  class="form-control"
                  placeholder="Sisesta treeningvahendi kaal või raskus"
                />
              </div>
              <div class="form-group">
                <label for="video1" class="visually-hidden">Video1</label>
                <input
                  type="text"
                  formControlName="video1"
                  class="form-control"
                  placeholder="Sisesta video link"
                />
              </div>
              <div class="form-group">
                <label for="video2" class="visually-hidden">Video2</label>
                <input
                  type="text"
                  formControlName="video2"
                  class="form-control"
                  placeholder="Sisesta veel ühe video link"
                />
              </div>
              <div class="form-group">
                <label for="comment" class="visually-hidden">Kommentaar</label>
                <input
                  type="text"
                  formControlName="comment"
                  class="form-control"
                  placeholder="Sisesta kommentaar"
                />
              </div>
              <div class="form-group">
                <button
                  [disabled]="loading"
                  class="w-100 btn btn-md btn-primary"
                >
                  <span
                    *ngIf="loading"
                    class="spinner-border spinner-border-sm mr-1"
                  ></span>
                  Salvesta
                </button>
              </div>
            </form>
          </div>
          <div class="col"></div>
          <div class="col"></div>
        </div>
        <br />
        <!--Harjutuste nimekiri -->
        <div class="form-group">
          <h3 class="h3 mb-3 fw-normal">Harjutused</h3>
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Nimi</th>
                  <th>Kirjeldus</th>
                  <th>Seeriate arv</th>
                  <th>Korduste arv</th>
                  <th>Korduste liik</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let exercise of exercisesStore.exercises">
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.desc }}</td>
                <td>{{ exercise.defaultSeries }}</td>
                <td>{{ exercise.defaultReps }}</td>
                <td>{{ exercise.defaultRepsType }}</td>
                <td>
                  <button
                    class="btn btn-outline-info btn-sm"
                    type="submit"
                    role="button"
                    (click)="readButton(exercise.ID)"
                  >
                    Vaata
                  </button>
                </td>
                <td>
                  <button
                    class="btn btn-outline-danger btn-sm"
                    type="submit"
                    role="button"
                    (click)="deleteButton(exercise.ID)"
                    onclick="return confirm('Kas oled kindel?')"
                  >
                    Kustuta
                  </button>
                </td>
              </tr>
            </table>
          </div>
        </div>
        <br />
        <div class="form-group">
          <h3 class="h3 mb-3 fw-normal">Vaata ühte harjutust</h3>
          <br />

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>Nimi</th>
                  <th>Kirjeldus</th>
                  <th>Seeriate arv</th>
                  <th>Korduste arv</th>
                  <th>Korduste liik</th>
                  <th>Treeningvahend</th>
                  <th>Treeningvahendi kaal</th>
                  <th>Video 1</th>
                  <th>Video 2</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let exercise of exercisesStore.oneExercise">
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.desc }}</td>
                <td>{{ exercise.defaultSeries }}</td>
                <td>{{ exercise.defaultReps }}</td>
                <td>{{ exercise.defaultRepsType }}</td>
                <td>{{ exercise.defaultEquip }}</td>
                <td>{{ exercise.defaultWeight }}</td>
                <td>
                  <a href="{{ exercise.video1 }}" target="_blank">{{
                    exercise.video1
                  }}</a>
                </td>
                <td>
                  <a href="{{ exercise.video2 }}" target="_blank">{{
                    exercise.video2
                  }}</a>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
