<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Personaaltreeneri haldusrakendus</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/sign-in/"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="container-xl">
        <div *ngIf="error">
          <p>
            Harjutuse salvestamisel tekkis viga, kontrolli sisestatud andmeid.
          </p>
        </div>
        <form [formGroup]="exercisesForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <h3 class="h3 mb-3 fw-normal">Lisa uus harjutus</h3>
            <br />
            <label for="name" class="visually-hidden">Harjutuse nimi</label>
            <input
              type="text"
              formControlName="name"
              class="form-control"
              placeholder="Sisesta harjutuse nimi"
              [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
            />
            <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
              <div *ngIf="f.name.errors.required">Nimi on kohustuslik väli</div>
            </div>
          </div>
          <div class="form-group">
            <label for="desc" class="visually-hidden"
              >Harjutuse kirjeldus</label
            >
            <input
              type="text"
              formControlName="desc"
              class="form-control"
              placeholder="Sisesta harjutuse kirjeldus"
              [ngClass]="{ 'is-invalid': submitted && f.desc.errors }"
            />
            <div *ngIf="submitted && f.desc.errors" class="invalid-feedback">
              <div *ngIf="f.desc.errors.required">
                Kirjeldus on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="defaultSeries" class="visually-hidden"
              >Seeriate arv</label
            >
            <input
              type="number"
              formControlName="defaultSeries"
              class="form-control"
              placeholder="Sisesta seeriate arv"
              [ngClass]="{ 'is-invalid': submitted && f.defaultSeries.errors }"
            />
            <div
              *ngIf="submitted && f.defaultSeries.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.defaultSeries.errors.required">
                Seeriate arv on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="defaultReps" class="visually-hidden"
              >Harjutuse nimi</label
            >
            <input
              type="number"
              formControlName="defaultReps"
              class="form-control"
              placeholder="Sisesta korduste arv"
              [ngClass]="{ 'is-invalid': submitted && f.defaultReps.errors }"
            />
            <div
              *ngIf="submitted && f.defaultReps.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.defaultReps.errors.required">
                Korduste arv on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="defaultRepsType" class="visually-hidden"
              >Korduste liik</label
            >
            <input
              type="text"
              formControlName="defaultRepsType"
              class="form-control"
              placeholder="Sisesta korduste liik (nt. kordust, minutit, meetrit jne)"
              [ngClass]="{
                'is-invalid': submitted && f.defaultRepsType.errors
              }"
            />
            <div
              *ngIf="submitted && f.defaultRepsType.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.defaultRepsType.errors.required">
                Korduste liik on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="defaultEquip" class="visually-hidden"
              >Treeningvahend</label
            >
            <input
              type="text"
              formControlName="defaultEquip"
              class="form-control"
              placeholder="Sisesta treeningvahend (nt. hantel, kang)"
              [ngClass]="{ 'is-invalid': submitted && f.defaultEquip.errors }"
            />
            <div
              *ngIf="submitted && f.defaultEquip.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.defaultEquip.errors.required">
                Treeningvahend on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="defaultWeight" class="visually-hidden"
              >Treeningvahendi raskus</label
            >
            <input
              type="text"
              formControlName="defaultWeight"
              class="form-control"
              placeholder="Sisesta treeningvahendi kaal või raskus"

            />
          </div>
          <div class="form-group">
            <label for="video1" class="visually-hidden">Video1</label>
            <input
              type="text"
              formControlName="video1"
              class="form-control"
              placeholder="Sisesta video link"
              [ngClass]="{ 'is-invalid': submitted && f.video1.errors }"
            />
            <div *ngIf="submitted && f.video1.errors" class="invalid-feedback">
              <div *ngIf="f.video1.errors.required">
                Video1 on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="video2" class="visually-hidden">Video2</label>
            <input
              type="text"
              formControlName="video2"
              class="form-control"
              placeholder="Sisesta veel ühe video link"
            />

          </div>
          <div class="form-group">
            <label for="comment" class="visually-hidden">Kommentaar</label>
            <input
              type="text"
              formControlName="comment"
              class="form-control"
              placeholder="Sisesta kommentaar"
              [ngClass]="{ 'is-invalid': submitted && f.comment.errors }"
            />
            <div *ngIf="submitted && f.comment.errors" class="invalid-feedback">
              <div *ngIf="f.comment.errors.required">
                Kommentaar on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="w-100 btn btn-md btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Salvesta
            </button>
          </div>
        </form>
        <br />
        <!--Harjutuste nimekiri -->
        <div class="form-group">
          <h3 class="h3 mb-3 fw-normal">Harjutused</h3>
          <p>Vajab arendust:</p>
          <li>Testimiseks lisatud ID ja users_ID väljad</li>
          <li>Muuda nupp ei tööta</li>
          <li>Kustuta nupp ei tööta</li>
          <li></li>
          <br />
          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>users_ID</th>
                  <th>Nimi</th>
                  <th>Kirjeldus</th>
                  <th>Seeriate arv</th>
                  <th>Korduste arv</th>
                  <th>Korduste liik</th>
                  <th></th>
                  <th></th>
                </tr>
              </thead>
              <tr *ngFor="let exercise of exercisesStore.exercises">
                <td>{{ exercise.ID }}</td>
                <td>{{ exercise.users_ID }}</td>
                <td>{{ exercise.name }}</td>
                <td>{{ exercise.desc }}</td>
                <td>{{ exercise.defaultSeries }}</td>
                <td>{{ exercise.defaultReps }}</td>
                <td>{{ exercise.defaultRepsType }}</td>
                <td>
                  <a
                    href=""
                    class="btn btn-outline-primary btn-sm"
                    role="button"
                    >Muuda</a
                  >
                </td>
                <td>
                  <a
                    class="btn btn-outline-danger btn-sm"
                    href=""
                    onclick="return confirm('Kas oled kindel?')"
                    role="button"
                    >Kustuta</a
                  >
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
