<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <title>Personaaltreeneri haldusrakendus</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sign-in/">
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</head>
<body>
  <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
  <div class="container-xl">
    <div class="form-group">
      <h3 class="h3 mb-3 fw-normal">Rakenduse kirjeldus</h3><br>

  <button (click)="fetchOnClick()">Clicki siia et fetchida - ei tööta</button>

<ul>
  <li *ngFor="let user of values">{{ values }}</li>
</ul>
</div>
</div>
</main>
</body>
