<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="description" content="" />
    <title>Personaaltreeneri haldusrakendus</title>

    <link
      rel="canonical"
      href="https://getbootstrap.com/docs/5.0/examples/sign-in/"
    />
    <!-- Bootstrap core CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <div class="container-xl">
        <div *ngIf="error">
          <p>Kliendi salvestamisel tekkis viga, kontrolli sisestatud andmeid.</p>
        </div>
        <form [formGroup]="studentsForm" (ngSubmit)="onSubmit()">
          <div class="form-group">
            <h3 class="h3 mb-3 fw-normal">Lisa uus klient</h3>
            <p>Vajab arendust:</p>
            <li>Salvesta nupu värv? btn-primary?</li>
            <li>Väljade laius?</li>
            <br />
            <label for="firstName" class="visually-hidden">Sisesta kliendi e-mail</label>
            <input
              type="text"
              formControlName="firstName"
              class="form-control"
              placeholder="Sisesta kliendi eesnimi"
              [ngClass]="{ 'is-invalid': submitted && f.firstName.errors }"
            />
            <div
              *ngIf="submitted && f.firstName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.firstName.errors.required">
                Eesnimi on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="lastName" class="visually-hidden"
              >Sisesta kliendi perenimi</label
            >
            <input
              type="lastName"
              formControlName="lastName"
              class="form-control"
              placeholder="Sisesta kliendi perenimi"
              [ngClass]="{ 'is-invalid': submitted && f.lastName.errors }"
            />
            <div
              *ngIf="submitted && f.lastName.errors"
              class="invalid-feedback"
            >
              <div *ngIf="f.lastName.errors.required">
                Perenimi on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="email" class="visually-hidden">Sisesta kliendi e-mail</label>
            <input
              type="email"
              formControlName="email"
              class="form-control"
              placeholder="Sisesta kliendi e-mail"
              [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
            />
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
              <div *ngIf="f.email.errors.required">
                E-mail on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="phone" class="visually-hidden">Sisesta kliendi telefon</label>
            <input
              type="phone"
              formControlName="phone"
              class="form-control"
              placeholder="Sisesta kliendi telefon"
              [ngClass]="{ 'is-invalid': submitted && f.phone.errors }"
            />
            <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
              <div *ngIf="f.phone.errors.required">
                Telefon on kohustuslik väli
              </div>
            </div>
          </div>
          <div class="form-group">
            <button [disabled]="loading" class="w-100 btn btn-md btn-primary">
              <span
                *ngIf="loading"
                class="spinner-border spinner-border-sm mr-1"
              ></span>
              Salvesta
            </button>
          </div>
        </form>
        <br />
        <!--Klientide nimekiri -->

        <div class="form-group">
          <h3 class="h3 mb-3 fw-normal">Kliendid</h3>
          <p>Vajab arendust:</p>
          <li>Testimiseks lisatud ID ja users_ID väljad</li>
          <li>Muuda nupp ei tööta</li>
          <li>Kustuta nupp ei tööta</li>
          <li></li>

          <br />

          <div class="table-responsive">
            <table class="table table-striped table-sm">
              <thead class="thead-dark">
                <tr>
                  <th>ID</th>
                  <th>users_ID</th>
                  <th>Eesnimi</th>
                  <th>Perenimi</th>
                  <th>E-mail</th>
                  <th>Telefon</th>
                  <th> </th>
                  <th> </th>
                </tr>
              </thead>
              <tr *ngFor="let student of studentsStore.students">
                <td>{{ student.ID }}</td>
                <td>{{ student.users_ID }}</td>
                <td>{{ student.firstName }}</td>
                <td>{{ student.lastName }}</td>
                <td>{{ student.email }}</td>
                <td>{{ student.phone }}</td>
                <td>
                  <a
                    href=""
                    class="btn btn-outline-primary btn-sm"
                    role="button"
                    >Muuda</a
                  >
                </td>
                <td>
                  <a
                    class="btn btn-outline-danger btn-sm"
                    href=""
                    onclick="return confirm('Kas oled kindel?')"
                    role="button"
                    >Kustuta</a
                  >
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
